        $height: 56px;
        $bg-header: white;
        $header-height: 56px;
        $max-width: 1280px;
        $layout-padding: 1rem;
        $border-width: 1px;
        $radius:5px;
        $height: 56px;
        $lh-base :1.5;
        $fs-base: 1rem;
        $min-height: calc(100vh - $header-height);
        [class^="crayons"],
        [class^="crayons"]::before,
        [class^="crayons"]::after,
        [class^="crayons"] *,
        [class^="crayons"] ::before,
        [class^="crayons"] ::after {
            box-sizing: border-box;
        }
        
        body {
            margin: 0;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            text-align: left;
            background-color: #fff;
            min-height: $min-height;
        }
        
        .header {
            height: $height;
            background-color: white;
            box-shadow: 0 1px 1px #0000001a;
            position: fixed;
            top: 0px;
            left: 0px;
            right: 0px;
            z-index: 999;
        }
        
        .input-search:focus,
        .input-search:active {
            background-color: rgb(255, 255, 255);
            border-color: rgb(59, 73, 223);
            box-shadow: 1px 1px 0 #3b49df;
        }
        
        a {
            color: rgb(32, 36, 40);
            font-weight: 700;
            &.login-button {
                color: #3a47df;
            }
            &.login-button:hover {
                background-color: #00000009;
                border-color: #00000000;
                -webkit-box-shadow: none;
                box-shadow: none;
                color: #323ebe;
                z-index: 1;
            }
            &.blue-button:hover {
                background-color: #323ebe;
                color: #edeeee;
                -webkit-box-shadow: 0 2px 5px;
                box-shadow: 0 2px 5px;
            }
            &.btn {
                text-decoration: none;
            }
            &.blue-button {
                color: white;
                background-color: #3846D5;
                -webkit-box-shadow: 0 1px 3px;
                box-shadow: 0 1px 3px;
                border: #00000000;
            }
            &.login-button:hover {
                background-color: #00000009;
                border-color: #00000000;
                -webkit-box-shadow: none;
                box-shadow: none;
                color: #323ebe;
                z-index: 1;
            }
        }
        
        .w-480 {
            max-width: auto;
        }
        
        .nav-left-uno a {
            color: #202428;
            text-decoration: none;
        }
        
        span.tags-title {
            font-weight: 700;
        }
        
        .nav-left-uno a:hover {
            background: #08090a0d;
            color: #323ebe;
        }
        
        ul.nav-default-tags {
            height: 100%;
            max-height: 42vh;
            overflow-y: scroll;
            a.list-group-item {
                text-decoration: none;
                color: #202428;
                position: 50%;
                margin: 0;
                padding: 8px;
                &:hover {
                    text-decoration: none;
                    background-color: #08090a0d;
                    color: #323ebe;
                    border-radius: 5px;
                }
                span.follow-tag {
                    display: none;
                    text-decoration: none;
                    position: absolute;
                    right: 5px;
                    top: 47%;
                    transform: translateY(-50%);
                }
            }
            a.list-group-item:hover span.follow-tag {
                display: inline-block !important;
            }
        }
        
        .social-nav a svg {
            fill: rgb(100, 112, 125);
        }
        
        .card-login {
            background-color: rgb(249, 250, 250);
            color: #202428;
            box-shadow: 0 0 0 1px rgba(8, 9, 10, 0.05);
        }

        /************SECCION DE POSTS****************/
/* ESTILOS DE BARRA DE NAVEGACION DE POSTS -SECCIÓN CENTRAL*/
.nav-link{
    font-size: 16px;
    margin: 3px;
    color: rgb(34, 32, 32) !important;
    font-weight: 100;
}
.nav-link:active{
    border-bottom: 2px solid blue;
  }
.nav-link:hover{
    font-weight: 400;
    border-radius: 5px;
    background-color:#dfe4ea;
    color: #323ebe!important;
}
.navbar-nav{
    text-align: right;
    margin-right: 15px;
}
.bar-header .navbar-toggler{
    padding-left: 15px;
    font-weight: 300;
    font-size: 15px;
    outline: none!important;
    border: none!important;
}
.navbar .dev-to-button{
   
    border-radius: 5px;
    border: 1px solid grey;
   /* box-shadow: 5px 5px blue;*/
    padding: 5px 15px 5px 15px;
}
@media only screen and (max-width: 991px) {
    .nav-link:hover{
        background-color: none;
    }
}
/*FIN DE ESTILOS DE BARRA DE NAVEGACION DE POSTS*/

/***************estilos de las cards********/

.card{
    .card-body{
        .card-title{
            align-items: center;
        img{
           
            border-radius: 100%;
            margin-right: 1rem;
        }
        h6{
            font-size: 1rem;
    
        }
        p{
            font-size: .875rem;
            margin: 0 0;
        }
        
        }
    }

}

.card{
    margin-bottom: 8px;
}
.card-body a{
    color: black;
    text-decoration: none;
}
.posts-links a,p,button{
    color:rgb(100, 112, 125);
    font-size: .8rem;
    font-weight: 100;
}
.posts-links a:hover{
        text-decoration: none;
        text-align: center;
        background-color: #f1f2f6;
        color: #323ebe;
        border-radius: 5px;
}
.info-links p{
    text-align: center;
}
.posts-links{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

        /**************FIN DE SECCION DE POSTS**********/